*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.wrapper-calculator {
    width: 600px;
    height: 600px;
    background-color: #1e1e1e;
    padding: 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.calculator-monitor {
   flex: 1;
}

.calculator-monitor__inputExpression {

}

.calculator-function {
   flex: 8;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.calculator-function__btnsNumbers {
   flex: 1;
}

.calculator-function__btnsOperators {
   flex: 1;
}

