*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.wrapper-calculator {
    width: 800px;
    height: 650px;
    background-color: #1e1e1e;
    padding: 28px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.calculator-monitor {
   flex: 1;
  
}

.calculator-monitor__inputExpression {
   width: 100%;
   height: 100%;
   border-radius: 18px;
   background-color: #3A3F77;
   padding: 8px;
   border-style: none;
   color:#fff;
   font-size: 30px;
   
}

.calculator-monitor__inputExpression:focus {
    outline: none;
    
}
.calculator-function {
   flex: 8;
   display: flex;
   flex-direction:row;
   flex-wrap: wrap;
}

.calculator-function__btnsNumbers {
   flex: 1.4;
   flex-direction: column;
   display: flex;

}

.calculator-function__btnsNumbers-block{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   flex: 1;
   margin: 20px 0 0 0;
}

.calculator-function__btnsNumbers-block .btn__number{
   flex: 0 0 120px;
   font-size: 40px;
   background-color: #404258;
   color: #fff;
   border: none;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.calculator-function__btnsNumbers-block .btn__number:hover{
   opacity: 0.8;
}

.calculator-function__btnsNumbers-block  .btn__number-icon{
   font-size: 40px;
}
.calculator-function__btnsOperators {
   flex: 1;
}

 